<!DOCTYPE HTML>
<html>
  {{> head}}
  <body>
    {{> header}}
    <p></p>
    <p>This is my welcome message: {{screamIt welcomeMsg}}</p>
    <p>{{screamIt "Some text here"}}</p>
    <p>Some more text here</p>
    {{> footer}}
  </body>
</html>
